
.header {
    background-color: brown;
}

h1.header {
    font-family: "Copperplate", papyrus, fantasy;
    color: rgb(241, 163, 18);
    font-size:45px;
}

h1.title{
    font-family: Helvetica,Arial, Helvetica, sans-serif;
}

.image.banner {
    width:40%;
    display: block;
}

/* To center image using text-align, image has to be inside a div container, but doesn't seem to support Scaling */
/*
div {   
    text-align: center; 
    }
*/

h2.prompt {
    font-family: 'Courier New', Courier, monospace;
}

h2.section {
    font-family: "Lucida Handwriting", Papyrus, Courier, cursive, monospace;
    font-weight:bold;
}

ul.menu .image.food {
    height: auto;
    width: 250px;
}

ul.menu .item {

}

h2.header {
    color: brown;
    font-size:15px;
}